<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>dashboard</title>
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Vue -->
    <script src="/static/vue/vue.min.js"></script>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/static/bootstrap-4.6.0/css/bootstrap.min.css">

    <!-- bootstrap-vue  -->
    <link rel="stylesheet" href="/static/bootstrap-vue/bootstrap-vue.min.css">
    <script src="/static/bootstrap-vue/bootstrap-vue.min.js"></script>
    <script src="/static/bootstrap-vue/bootstrap-vue-icons.min.js"></script>

    <link rel="stylesheet" href="/static/app.css">
    
    <!-- echarts -->
    <script src="/static/echarts-5.1.0/echarts.common.min.js"></script>
    <script src="/static/echarts-5.1.0/echarts.min.js"></script>

</head>

<body>
    <div id='app' class="container-fluid">
        <div class="row">
            {% include 'navbar.html'%}
            <div class="col-lg-2 col-sm-12">
                <div class="accordion" role="tablist">
                    <b-card no-body class="mb-1" v-for="(children, menu) in menuTree">
                        <b-card-header header-tag="header" class="p-1" role="tab" v-b-toggle="menu">
                            <h5>{{translate(menu)}}</h5>
                        </b-card-header>
                        <b-collapse :id="menu" visible accordion="my-accordion" role="tabpanel">
                            <ul class="nav flex-column text-right" v-on:click="changeDisplay(item)" v-for="(item, index) in children">
                                <li class="nav-item bd-callout" :class="{'bd-active': display==item }">
                                  <a class="nav-link active" href="#">{{translate(item)}}</a>
                                </li>
                            </ul>

                            <!-- <ul class="list-group list-group-flush text-right">
                                <li class="list-group-item list-group-item-action" 
                                 v-on:click="changeDisplay(item)" v-for="(item, index) in children">{{item}} </li>
                            </ul> -->
                        </b-collapse>
                    </b-card>
                </div>
            </div>
            <div class="col-lg-10 col-sm-12">
                <div v-if="display=='api_access'"> {% include 'project/api_access.html'%} </div>
                
                <div v-if="display=='overreview'"> {% include 'compute/overreview.html'%} </div>
                <div v-if="display=='hypervisors'"> {% include 'compute/hypervisors.html'%} </div>
                <div v-if="display=='instances'"> {% include 'compute/instances.html'%} </div>
                <div v-if="display=='images'"> {% include 'compute/images.html'%} </div>
                <div v-if="display=='flavors'"> {% include 'compute/flavors.html'%} </div>
                <div v-if="display=='keypairs'"> {% include 'compute/keypairs.html'%} </div>

                <div v-if="display=='projects'"> {% include 'identity/projects.html'%} </div>
                <div v-if="display=='users'"> {% include 'identity/users.html'%} </div>
                <div v-if="display=='services'"> {% include 'identity/services.html'%} </div>
                <div v-if="display=='endpoints'"> {% include 'identity/endpoints.html'%} </div>

                <div v-if="display=='networks'"> {% include 'networking/networks.html'%} </div>
                <div v-if="display=='routers'"> {% include 'networking/routers.html'%} </div>
                <div v-if="display=='subnets'"> {% include 'networking/subnets.html'%} </div>
                <div v-if="display=='ports'"> {% include 'networking/ports.html'%} </div>

                <div v-if="display=='userSettings'"> {% include 'settings/user_settings.html' %} </div>
                <div v-if="display=='changePassword'"> {% include 'settings/change_password.html' %} </div>

            </div>
            <div class="col-lg-12 col-sm-12">
                <!-- Modal qrcode -->
                <b-modal id="modal-filelink" :title="downloadFile.name">
                    <img alt="" :src="downloadFile.qrcode" class="rounded mx-auto d-block" width="200px">
                </b-modal>
                <!-- Modal rename -->
                <b-modal id="modal-rename" size="lg" title="translate('rename')" @ok="renameDir()">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">{{translate('filename')}}</label>
                        <b-form-input class="form-control" :value="renameItem.name" disabled></b-form-input>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">{{translate('newFileName')}}</label>
                        <b-form-input class="form-control" v-model="renameItem.newName" required></b-form-input>
                    </div>
                </b-modal>
                <!-- Modal new Dir -->
                <b-modal id="modal-newdir" :title="translate('newDir')" @ok="createDir()">
                    <label for="exampleFormControlInput1"
                        class="form-label">{{translate('pleaseInputFileName')}}</label>
                    <b-form-input class="form-control" v-model="newDir.name"></b-form-input>
                    <div class="alert alert-light text-info" role="alert">
                        <b-icon icon='exclamation-circle-fill'></b-icon> {{translate('createDirsTips')}}
                    </div>
                </b-modal>
                <!-- Modal file content -->
                <b-modal id="modal-file" size="lg" :title="fileEditor.name">
                    <textarea class="form-control" v-model="fileEditor.content" cols="30" rows="20"></textarea>
                </b-modal>
                <!-- Modal file upload -->
                <b-modal id="modal-upload" size="xl" :title="translate('fileUploadProgress')">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="(item, index) in uploadQueue.tasks">
                            {{item.file}}
                            <span class="badge badge-primary">{{ ((item.loaded / item.total) * 100).toFixed(2)
                                }}%</span>
                            <b-progress :max="item.total" class="mb-3" variant="success" style="height: 4px;">
                                <b-progress-bar :value="item.loaded">
                                </b-progress-bar>
                            </b-progress>
                        </li>
                    </ul>
                </b-modal>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="/static/lang.js"></script>
    <script type="text/javascript" src="/static/client.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>


</body>

</html>