<h3>{{translate('keyPairs')}}</h3>
<hr>

<div class="btn-toolbar mb-3 float-right" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <input type="text" class="form-control " placeholder="click here to filter" >
    </div>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-secondary"><b-icon icon="plus"></b-icon>{{translate('createKeypair')}}</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline-secondary"><b-icon icon="cloud-upload-fill"></b-icon> {{translate('importPublicKey')}}</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-danger"><b-icon icon="trash-fill"></b-icon> {{translate('deleteKeyPairs')}}</button>
    </div>
</div>

<table class="table table-hover table-sm table-striped" style="width: 100%;">
    <thead class="table-light">
        <tr>
            <th>{{translate('name')}}</th>
            <th>{{translate('fingerprint')}} </th>
            <th>{{translate('actions')}} </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(item, index) in resources.keypairs" v-model="resources.keypairs">
            <td><a href="">{{item.name}}</a></td>
            <td>{{item.fingerprint}}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">
                    <b-icon icon="trash"></b-icon>{{translate('deleteKeyPair')}}</button>
            </td>
        </tr>
    </tbody>
</table>
