
<div class="row">
    <div class="col-lg-5 col-sm-12 text-left">
        <h3>{{translate('limitSumary')}}</h3>
        <div class="row">
            <div class="col-lg-3 col-sm-2 text-center">
                <div id="instancesQuota" style="height: 120px"></div>
                {{resources.servers.length}} / {{resources.quotas['instances']}}
            </div>
            <div class="col-lg-3 col-sm-2 text-center">
                <div id="vcpuQuota" style="height: 120px"></div>
                {{usedCpu}} / {{resources.quotas.cores}}
            </div>
            <div class="col-lg-3 col-sm-2 text-center">
                <div id="ramQuota" style="height: 120px"></div>
                {{usedRam}} / {{resources.quotas.ram}}
            </div>
            <div class="col-lg-3 col-sm-2 text-center">
                <div id="fipQuota" style="height: 120px"></div>
                {{resources.floatingips.length}} / {{resources.quotas.floating_ips}}
            </div>
            <div class="col-lg-3 col-sm-2 text-center">
                <div id="sgQuota" style="height: 120px"></div>
                {{resources.security_groups.length}} / {{resources.quotas.security_groups}}
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-sm-12">
        <h3>Usage Sumary</h3>
        select a period of time to query its usage
        <div class="row">
            <div class="col-lg-5 col-sm-3">
                <b-form-datepicker v-model="usageStart" class="mb-2"></b-form-datepicker>
            </div>
            to
            <div class="col-lg-5 col-sm-3">
                <b-form-datepicker v-model="usageEnd" class="mb-2"></b-form-datepicker>
            </div>
            <div class="col-lg-1 col-sm-3">
                <button class="btn btn-info">Submit</button>
            </div>
            <div class="col-lg-5 col-sm-3">
                <table class="table table-borderless table-sm " style="width: 100%;">
                    <tbody>
                        <tr><td><strong>Active Instances</strong>   </td><td>xx</td></tr>
                        <tr><td><strong>Active RAM</strong></td><td>xx</td></tr>
                        <tr><td><strong>This Period's VCPU-Hours</strong> </td><td>xx</td></tr>
                        <tr><td><strong>This Period's GB-Hours</strong> </td><td>xx</td></tr>
                        <tr><td><strong>This Period's RAM-Hours</strong> </td><td>xx</td></tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    
</div>

<div class="row">
</div>

<h4>Usage</h4>

<table class="table table-hover table-sm " style="width: 100%;">
    <thead class="table-light">
        <tr>
            <th>{{translate('Instance')}}</th>
            <th>{{translate('VCPUs')}} </th>
            <th>{{translate('RAM')}}</th>
            <th>{{translate('Disk')}}</th>
            <th>{{translate('timeSinceCreated')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(item, index) in resources.servers" v-model="resources.servers">
            <td>{{item.name}}</td>
            <td>{{item.flavor.vcpus}}</td>
            <td>{{item.flavor.ram}}</td>
            <td>{{item.flavor.ram}}</td>
            <!-- TODO parse created to timeSinceCreated -->
            <td>{{item.created}}</td>
        </tr>
    </tbody>
</table>
