
<div class="col-lg-6 col-sm-12">
    <form>
        <div class="form-group">
            <label for="oldPassword">{{translate('oldPassword')}}</label>
            <input type="password" class="form-control" id="oldPassword" :placeholder="translate('pleaseInputOldPassword')">
        </div>
        <div class="form-group">
            <label for="newPassword">{{translate('newPassword')}}</label>
            <input type="password" class="form-control" id="newPassword" :placeholder="translate('pleaseInputNewPassword')">
        </div>

        <button type="submit" class="btn btn-primary">{{translate('save')}}</button>
    </form>
</div>
