<b-button-toolbar aria-label="Toolbar with button groups and input groups" class="float-right mb-2">
    <b-button-group size="sm" class="mr-1">
        <b-form-select size='sm' :value="0" :options="[{text: 'RoleName =', value: 0}, {text: 'RoleID =', value: 1}]" ></b-form-select>
        <b-form-input value="" size="sm"></b-form-input>
        <button type="button" class="btn btn-outline-secondary btn-sm">{{translate('filter')}}</button>
    </b-button-group>
    <b-button-group size="sm" class="mr-1">
        <button type="button" class="btn btn-outline-secondary"><b-icon icon="plus"></b-icon>{{translate('createRole')}}</button>
    </b-button-group>
    <b-button-group size="sm" class="mr-1">
        <b-button class="btn-danger"><b-icon icon="trash-fill"></b-icon>{{translate('deleteRoles')}}</b-button>
    </b-button-group>
    <b-button-group size="sm" class="mt-1">
        <b-form-checkbox v-model="checked" name="check-button" switch>{{translate('enabled')}}
    </b-button-group>
</b-button-toolbar>

<table class="table table-hover table-sm " style="width: 100%;">
    <thead class="table-light">
        <tr>
            <th>{{translate('name')}} </th>
            <th>{{translate('id')}}</th>
            <th>{{translate('operation')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(item, index) in resources.roles" v-model="resources.roles">
            <td><a href="#" v-on:click="getUser(item)">{{item.name}}</a></td>
            <td>{{item.id}}</td>
            <td>
                <b-dropdown split id="dropdown-1" :text="translate('editRole')" size='sm' split-variant="outline-secondary" variant="secondary">
                    <b-dropdown-item variant="danger">{{translate('deleteRole')}}</b-dropdown-item>
                </b-dropdown>
            </td>
        </tr>
    </tbody>
</table>