<!-- <div>
    <b-card no-body>
        <b-tabs pills card vertical>
        <b-tab :title="translate('identity')" active>
            <b-card-text>
                
            </b-card-text>
        </b-tab>
        <b-tab :title="translate('identity')"><b-card-text>Tab contents 2</b-card-text></b-tab>
        <b-tab :title="translate('identity')"><b-card-text>Tab contents 3</b-card-text></b-tab>
        </b-tabs>
    </b-card>
    </div> -->
    
<table class="table table-hover table-sm " style="width: 100%;">
    <thead class="table-light">
        <tr>
            <th>{{translate('id')}}</th>
            <th>{{translate('name')}} </th>
            <th>{{translate('enabled')}}</th>
            <th>{{translate('operation')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(item, index) in endpoints" v-model="endpoints">
            <td>{{item.id}}</td>
            <td><a href="#" v-on:click="getUser(item)">{{item.name}}</a></td>
            <td>{{item.enabled}}</td>
        </tr>
    </tbody>
</table>